<head>

</head>

<body>
  <div class="container" *ngFor="let i of allPending">
    <div class="desc">
    </div>
    <div class="userDetails">
      <img src="{{i.userPic}}" alt="" class="dp">
      <p class="username">{{i.name}}</p>
      <p class="mail">{{i.email}}</p>
      <br>
      <img src="{{i.picUrl}}" class=" imgUpl" alt="">
      <p class="title">{{i.picName}}</p>
      <p class="imgDesc">{{i.picDesc}}</p>
      <button class="accept" (click)="approve(i)">Approve</button>
      <button class="decline" (click)="decline()">Decline</button>
    </div>
  </div>
</body>