<head>

</head>
<body>
  <div class="container">
    <div class="desc">

    </div>
    <div class="userDetails">
      <img src="../../assets/imgs/Capture.PNG" alt="" class="dp">
      <p class="username">John Doe</p>
      <p class="mail">j.doe@gmail.com</p>
      <br>
      <img src="../../assets/imgs/Capture.PNG" class="imgUpl" alt="">
      <p class="title">Image Title</p>
      <p class="imgDesc">Image Description : L
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad repudiandae deleniti fugiat, sunt earum error nam, quibusdam quas ipsa est id? Perspiciatis, error eaque blanditiis vel id voluptate doloribus sint!
      </p>
      <button class="accept">Approve</button>
      <button class="decline">Decline</button>
    </div>
  </div>
</body>