<head>
    <link rel="stylesheet" href="/path/to/material-icons/iconfont/material-icons.css">
</head>

<body>
  <div class="desc">
    <h2>StreetArtz Content Management System</h2>
  </div>
  <div class="container">
    <div class="header">
      Pending Uploads
    </div>
    <div class="content">
        <div class="userDetails">
            <img src="../../assets/imgs/Capture.PNG" alt="" class="dp">
            <p class="username">John Doe</p>
            <p class="mail">j.doe@gmail.com</p>
            <br>
            <img src="../../assets/imgs/Capture.PNG" class="imgUpl" alt="">
            <p class="title">Image Title</p>
            <p class="imgDesc">Image Description : L
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad repudiandae deleniti fugiat, sunt earum error nam,
              quibusdam quas ipsa est id? Perspiciatis, error eaque blanditiis vel id voluptate doloribus sint!
            </p>
            <button class="accept">
                <span class="material-icons">face</span>
            </button>
            <button class="decline">Decline</button>
          </div>
    </div>

  </div>
</body>